@use '../abstracts' as *;

.key-features {
    &__container {
        display: flex;
        flex-direction: column;
        gap: px-to-rem(96);
        padding-inline: px-to-rem(24);

        @include media-up($medium-screen-size) {
            padding: px-to-rem(64) px-to-rem(32);
            gap: px-to-rem(70);
        }

        @include media-up($large-screen-size) {
            flex-direction: row-reverse;
            padding: px-to-rem(64) 0;
            align-items: start;
            justify-content: space-between;
        }
    }

    &__image {
        padding-inline-end: px-to-rem(56);
        place-self: center;

        @include media-up($medium-screen-size) {
            padding-inline-end: px-to-rem(112);
        }

        @include media-up($large-screen-size) {
            padding-inline-end: 0;
        }
    }

    &__content {
        margin-inline: px-to-rem(8);

        @include media-up($medium-screen-size) {
            margin-inline: 0;
        }

        @include media-up($large-screen-size) {
            flex: 0 0 auto;
            min-width: min-content;
            width: 100%;
            max-width: 560px;
            margin-inline-start: px-to-rem(24);
        }
    }

    &__description {
        margin-block-end: px-to-rem(32);

        @include media-up($medium-screen-size) {
            margin-block-end: px-to-rem(64);
        }
    }

    &__sub-title {
        margin-block-end: px-to-rem(16);
    }

    &__title {
        margin-block-end: px-to-rem(32);
        text-wrap: nowrap;
    }

    &__cards {
        display: flex;
        flex-direction: column;
        gap: px-to-rem(8);

        @include media-up($medium-screen-size) {
            gap: 0;
        }
    }

    &__card {
        text-align: start;
    }

    &__icons {
        border: 0;
        border-radius: px-to-rem(32);

        &--orange {
            background-color: $bg-orange;
            padding: px-to-rem(30) px-to-rem(33);
        }

        &--yellow {
            background-color: $bg-yellow;
            padding: px-to-rem(28) px-to-rem(30);
        }

        &--pink {
            background-color: $bg-pink;
            padding: px-to-rem(34) px-to-rem(30);
        }
    }

    &__icon {
        &--small {
            font-size: px-to-rem(32);
        }
    }

    &__card-title {
        margin-block-end: px-to-rem(8);
    }
}
