@use '../abstracts' as *;

$medium-screen-size: map-get(
    $map: $screen-size,
    $key: 'medium',
);
$large-screen-size: map-get(
    $map: $screen-size,
    $key: 'large',
);

body {
    height: 200vh;
}

.navbar {
    height: auto;
    z-index: 3;
    background-color: $transparent;
    transition: all 0.5s;

    &.active {
        box-shadow: 0px 41px 89px $black-10;
        background-color: $white;
    }

    &__container {
        position: relative;
        margin-block-start: 0;
        height: 112px; // fixed height of header
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        @include media-up($medium-screen-size) {
            flex-direction: row-reverse;
        }

        @include media-up($large-screen-size) {
            flex-direction: row;
            margin-block-start: 34px;
        }
    }

    &__logo {
        position: relative;
        left: 0;

        @include media-up($medium-screen-size) {
            position: absolute;
            left: calc(50% - 20px);
        }

        @include media-up($large-screen-size) {
            position: relative;
            left: 0;
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        gap: 30px;
        position: absolute;
        visibility: hidden;
        opacity: 0;
        top: 24%;
        right: -2%;
        min-width: 250px;
        padding: 30px 40px 15px;
        border-radius: 10px 10px 0 0;
        box-shadow: 0px 41px 89px $black-20;
        background-color: white;
        transform: scale(0.4);
        transform-origin: top right;
        z-index: -1;
        align-items: center;

        &.active {
            visibility: visible;
            opacity: 1;
            transform: scale(1);
            transition: $transition-slow 0.2s;
            z-index: 4;
        }

        @include media-up($medium-screen-size) {
            visibility: hidden;
            right: unset;
            left: -2%;
            padding: 30px 40px;
            border-radius: 10px;
            transform-origin: top left;

            &.active {
                visibility: visible;
                opacity: 1;
                transform: scale(1);
            }
        }

        @include media-up($large-screen-size) {
            all: initial;
            display: flex;
            position: relative;
            flex-direction: row;
            gap: 64px;
        }
    }

    &__link {
        @include font-style($circularstd-bold, $md-btn-font-size);
        color: $link-text-inactive;
        text-decoration: none;

        &.active,
        &:hover,
        &:focus-visible {
            color: $link-text-active;
        }
    }

    &__auth {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        position: absolute;
        visibility: hidden;
        opacity: 0;
        top: calc(
            24% + 200px
        ); // adding additional fixed height of the nav links
        right: -2%;
        min-width: 250px;
        padding: 15px 40px 30px;
        border-radius: 0 0 10px 10px;
        box-shadow: 0px 41px 89px $black-20;
        background-color: $white;
        transform: scale(0.4);
        transform-origin: top right;
        z-index: -1;

        &.active {
            visibility: visible;
            opacity: 1;
            transform: scale(1);
            transition: $transition-slow 0.2s;
            z-index: 4;
        }

        // reset css properties to initial so that it does not inherit absolute positioning and other properties
        @include media-up($medium-screen-size) {
            all: initial;
            display: flex;
            flex-direction: row;
            gap: 0;
        }

        text-decoration: none;
    }

    &__hamburger {
        display: block;
        z-index: 100;

        // hide hamburger for large screen size
        @include media-up($large-screen-size) {
            display: none;
        }
    }
}
