@use 'sass:map';
@use '../abstracts' as *;

.newsletter {
    position: relative;
    margin-block-end: px-to-rem(95);

    &__container {
        position: relative;
    }

    &__sub-title {
        color: $bg-pink;
    }

    &__title {
        color: $black;
        text-wrap: wrap;
    }

    @include media-up(map.get($map: $screen-size, $key: 'medium')) {
        &__container {
            border: none;
            border-radius: px-to-rem(32);
            background-color: $light-yellow;
            padding: px-to-rem(128) px-to-rem(64);
        }

        &__sub-title {
            margin-block-end: px-to-rem(38.4);
        }

        &__decorative {
            position: absolute;
            top: px-to-rem(51) * -1;
            left: px-to-rem(37) * -1;
        }

        &__background-decorative {
            position: absolute;
            top: px-to-rem(328) * -1;
            right: 0;
        }
    }

    @include media-up(map.get($map: $screen-size, $key: 'large')) {
        position: initial; // [Because of overflow issue with relative position of section] Refer to _base.scss for more.
        margin-block-start: px-to-rem(64);
        margin-block-end: px-to-rem(137);

        &__sub-title,
        &__title {
            text-align: center;
        }

        &__title {
            font-size: px-to-rem($newsletter-card-title-font-size);
        }

        &__decorative {
            opacity: 0.1;
        }

        &__background-decorative {
            top: unset;
            bottom: px-to-rem(
                320
            ); // Relative to body and bottom offset from body
            z-index: -1;
        }
    }
}
