@use 'sass:map';
@use '../abstracts' as *;

$padding-horizontal: map.get(
    $map: $button-padding,
    $key: 'horizontal',
);
$padding-vertical: map.get(
    $map: $button-padding,
    $key: 'vertical',
);

.button {
    @include font-style($circularstd-bold, $md-btn-font-size, $line-height-120);
    border: 0;
    border-radius: $btn-border-radius;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.3s;
    transition-delay: 100ms;

    &:hover {
        transform: scale(1.05);
    }

    &__text {
        padding: px-to-rem($padding-vertical) px-to-rem($padding-horizontal);
        background-color: $transparent;
        color: $tb-text;

        &:hover,
        &:focus-visible {
            color: $tb-text-active;
            background-color: $light;
        }
    }

    &__fill {
        padding: px-to-rem($padding-vertical) px-to-rem($padding-horizontal);
        background-color: $fb-bg;

        &:hover,
        &:focus-visible {
            background-color: $fb-bg-active;
        }

        &--primary {
            color: $fb-text;
        }

        &--white {
            background-color: $white;
            color: $black;

            &:hover,
            &:focus-visible {
                background-color: $white;
            }
        }

        &--hover-shadow {
            &:hover,
            &:focus-visible {
                box-shadow: $button-hover-shadow;
            }
        }

        &--small {
            padding: px-to-rem($sm-btn-vertical-padding)
                px-to-rem($sm-btn-horizontal-padding);
        }

        &--medium {
            padding: px-to-rem($md-btn-vertical-padding);
        }
    }

    &__outline {
        padding: px-to-rem($padding-vertical) ($padding-horizontal);
        background-color: $transparent;
        border: 1px solid $grey-border;

        &:hover,
        &:focus-visible {
            background-color: $white;
        }

        &--medium {
            padding: px-to-rem($md-btn-vertical-padding);
        }
    }

    &__icon {
        padding: px-to-rem($icon-padding-sm);

        &--pink {
            background-color: $bg-pink;
        }

        &--orange {
            background-color: $bg-orange;
        }
    }

    @include media-up(map.get($map: $screen-size, $key: 'medium')) {
        &__fill {
            &--small {
                padding: px-to-rem($padding-vertical)
                    px-to-rem($padding-horizontal);
            }

            &--medium {
                padding: px-to-rem($padding-vertical)
                    px-to-rem($padding-horizontal);
            }
        }

        &__outline {
            &--medium {
                padding: px-to-rem($padding-vertical)
                    px-to-rem($padding-horizontal);
            }
        }

        &__icon {
            padding: px-to-rem($icon-padding);
        }
    }
}
