@use '../abstracts' as *;

$horizontal-padding: map-get(
    $map: $button-padding,
    $key: 'horizontal',
);
$vertical-padding: map-get(
    $map: $button-padding,
    $key: 'vertical',
);

.button {
    @include font-style($circularstd-bold, $md-btn-font-size);
    border: 0;
    border-radius: $btn-border-radius;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.3s;
    transition-delay: 100ms;

    &:hover {
        transform: scale(1.05);
    }

    &__text {
        padding: $vertical-padding $horizontal-padding;
        background-color: $transparent;
        color: $tb-text;

        &:hover,
        &:focus-visible {
            color: $tb-text-active;
            background-color: $light;
        }
    }

    &__fill {
        padding: $vertical-padding $horizontal-padding;
        background-color: $fb-bg;

        &:hover,
        &:focus-visible {
            background-color: $fb-bg-active;
        }

        &--primary {
            color: $fb-text;
        }
    }
}
