@use 'sass:map';
@use '../abstracts' as *;

.card {
    background-color: $white;
    border: 1px solid $card-border;
    border-radius: px-to-rem($card-border-radius);
    cursor: pointer;
    transform: scale(1);
    will-change: transform;
    transition:
        transform 0.3s,
        box-shadow 0.3s;
    transition-delay: 50ms;

    &:hover,
    &:focus-visible {
        @extend %card-shadow;
        transform: scale(1.02);
    }

    &__features {
        border: 0;
        background-color: $transparent;

        &:hover,
        &:focus-visible {
            border: 1px solid $card-border;
            box-shadow: none;
        }
    }
}

@include media-up(map.get($map: $screen-size, $key: 'medium')) {
    .card {
        &__services {
            padding-block-end: px-to-rem(35);
        }

        &__features {
            width: 100%;
        }
    }
}

@include media-up(map.get($map: $screen-size, $key: 'large')) {
    .card {
        &__services {
            padding-block-end: px-to-rem(98);
            min-height: px-to-rem($card-min-height-lg);
        }
    }
}

// Placeholder to provide shadow to card
%card-shadow {
    border: 0;
    box-shadow: $card-box-shadow;
}
