@use '../abstracts/variables' as variables;
@use '../abstracts/colors' as colors;
@use '../abstracts/mixins' as mixins;

.text-button {
    @include mixins.font-style(
        variables.$circularstd-font-family,
        variables.$circularstd-bold-font-weight,
        variables.$md-btn-font-size,
        variables.$circularstd-line-height
    );
    padding: #{variables.$tb-vertical-padding} #{variables.$tb-horizontal-padding};
    border: 0;
    background-color: #{colors.$transparent};
    color: #{colors.$tb-text-color};
}

.fill-text-button {
    @include mixins.font-style(
        variables.$circularstd-font-family,
        variables.$circularstd-bold-font-weight,
        variables.$md-btn-font-size,
        variables.$circularstd-line-height
    );
    padding: #{variables.$fb-vertical-padding} #{variables.$fb-horizontal-padding};
    border: 0;
    border-radius: #{variables.$fb-border-radius};
    background-color: #{colors.$fb-bg-color};
    color: #{colors.$fb-text-color};
}
