@use '../abstracts/variables' as variables;
@use '../abstracts/colors' as colors;
@use '../abstracts/mixins' as mixins;

.button {
    @include mixins.font-style(
        variables.$circularstd-bold,
        variables.$md-btn-font-size
    );
    border: 0;

    &__text {
        padding: #{variables.$tb-vertical-padding} #{variables.$tb-horizontal-padding};
        background-color: #{colors.$transparent};
        color: #{colors.$tb-text-color};
    }

    &__fill {
        padding: #{variables.$fb-vertical-padding} #{variables.$fb-horizontal-padding};
        border-radius: #{variables.$fb-border-radius};
        background-color: #{colors.$fb-bg-color};
        color: #{colors.$fb-text-color};
    }
}
