// Base colors
$transparent: rgba(0, 0, 0, 0);
$black: rgb(0, 0, 0);
$black-10: rgba(0, 0, 0, 0.1);
$black-20: rgba(0, 0, 0, 0.2);
$white: rgb(255, 255, 255);
$light: rgb(235, 235, 235);
$header-bg: rgba(0, 0, 0, 0.1);
$link-text-active: rgb(34, 40, 49);
$link-text-inactive: rgba(25, 24, 37, 0.5);
$focus-outline: rgb(68, 59, 143);
$bg-pink: rgb(248, 93, 158);
$bg-yellow: rgba(250, 205, 73, 1);
$bg-orange: rgb(255, 87, 36);
$grey-border: rgb(238, 238, 238);
$bg-yellow: rgb(250, 205, 73);
$light-color: rgb(237, 237, 237);
$card-border: rgba(25, 24, 37, 0.1);

// Text Button
$tb-text: rgb(34, 40, 49);
$tb-text-active: rgb(0, 0, 0);

// Fill Text Button
$fb-bg: rgb(95, 82, 199);
$fb-bg-active: rgb(82, 70, 172);
$fb-text: rgb(255, 255, 255);
