// font config
$circularstd-bold: (
    'font-family': 'circularstd',
    'path': '/assets/fonts/circularStd/',
    'font-weight': 700,
    'file': 'CircularStd-Bold',
    'font-style': normal,
);

$circularstd-black: (
    'font-family': 'circularstd',
    'path': '/assets/fonts/circularStd/',
    'font-weight': 900,
    'file': 'CircularStd-Black',
    'font-style': normal,
);

$inter-regular: (
    'font-family': 'inter',
    'path': '/assets/fonts/inter/',
    'font-weight': 400,
    'file': 'Inter-Regular',
    'font-style': normal,
);

$inter-medium: (
    'font-family': 'inter',
    'path': '/assets/fonts/inter/',
    'font-weight': 450,
    'file': 'Inter-Medium',
    'font-style': normal,
);

// Screen Sizes
$screen-size: (
    'small': 430px,
    'medium': 1024px,
    'large': 1440px,
);

$screen-max-width: (
    'small': 396.24px,
    'medium': 896px,
    'large': 1205.28px,
);

// Buttons
$btn-border-radius: 100px;
$btn-border-radius-50: 50px;
$button-padding: (
    'horizontal': 32,
    'vertical': 16,
);
$icon-padding-sm: 8;
$icon-padding: 16;
$sm-btn-vertical-padding: 8;
$sm-btn-horizontal-padding: 16;
$md-btn-vertical-padding: 24;

// pixel values without unit
// [Example: if pixel value is 16px then value will be 16.]
// Font sizes
$title-font-size: 69;
$title-font-size-sm: 40;
$title-font-size-md: 56;
$description-font-size-sm: 16;
$description-font-size-md: 18;
$description-font-size-lg: 18;
$section-title-font-size: 44;
$section-title-font-size-sm: 32;
$section-title-font-size-md: 40;
$section-subtitle-font-size: 23;
$section-subtitle-font-size-sm: 16;
$section-subtitle-font-size-md: 23;
$section-body-font-size: 18px;
$services-card-title-font-size: 28;
$services-card-title-font-size-sm: 24;
$services-card-title-font-size-md: 28;
$services-card-body-font-size: 18;
$services-card-body-font-size-sm: 18;
$services-card-body-font-size-md: 18;
$travel-card-title-font-size: 28px;
$travel-card-body-font-size: 18px;
$features-card-title-font-size: 23px;
$features-card-body-font-size: 18px;
$testimonial-card-title-font-size: 28px;
$testimonial-card-body-font-size: 23px;
$newsletter-card-title-font-size: 55px;
$newsletter-card-subtitle-font-size: 18px;

// Button font sizes
$lg-btn-font-size: 23px;
$md-btn-font-size: 14px;

// line heights
$line-height-120: 120%;
$line-height-160: 160%;

/**
 * Base container margin
 * prefix usage
 *     -sm is intended for small screen sizes
 *     -md is inteded for medium screen sizes
 *     -lg is inteded for large screen sizes
 */
$container-margin-inline-sm: 16px;
$container-margin-inline-md: 64px;
$container-margin-inline-lg: 130px;

// Card
$card-border-radius: 32;

// transition
$transition-slow: cubic-bezier(0, 0.7, 0.3, 1);

// Default values
$default-rem-value: 16;

// Box Shadow
$button-hover-shadow:
    0px 0px 0px 0px rgba(0, 0, 0, 0.1),
    0px 5px 11px 0px rgba(0, 0, 0, 0.1),
    0px 20px 20px 0px rgba(0, 0, 0, 0.09),
    0px 45px 27px 0px rgba(0, 0, 0, 0.05),
    0px 81px 32px 0px rgba(0, 0, 0, 0.01),
    0px 126px 35px 0px rgba(0, 0, 0, 0);
$decorative-box-shadow:
    0px 9.75px 9.75px 0px rgba(0, 0, 0, 0.09),
    0px 22.07px 13.35px 0px rgba(0, 0, 0, 0.05),
    0px 39.53px 15.91px 0px rgba(0, 0, 0, 0.01),
    0px 61.6px 17.45px 0px rgba(0, 0, 0, 0);
$icon-button-box-shadow:
    0px 34px 75px 0px rgba(0, 0, 0, 0.07),
    0px 137px 137px 0px rgba(0, 0, 0, 0.06),
    0px 308px 185px 0px rgba(0, 0, 0, 0.04),
    0px 548px 219px 0px rgba(0, 0, 0, 0.01),
    0px 856px 240px 0px rgba(0, 0, 0, 0);

// File Paths
$hero-bg-path: 'assets/resources/vectors/hero_background.svg';
