// font file paths
$circularstd-font-family: 'circularstd' !default;
$inter-font-family: 'inter' !default;
$circularstd-file-path: '../../../public/assets/fonts/circularStd/';
$inter-file-path: '../../../public/assets/fonts/inter/';
$circularstd-bold-font-weight: 700;
$circularstd-black-font-weight: 900;
$inter-regular-font-weight: 400;
$inter-medium-font-weight: 450;

// Screen Sizes
$small-screen-size: 430px;
$medium-screen-size: 1024px;
$large-screen-size: 1440px;

$small-screen-min-width: 396.24px;
$medium-screen-min-width: 896px;
$large-screen-min-width: 1205.28px;

// Text Button
$tb-horizontal-padding: 32px;
$tb-vertical-padding: 16px;

// Fill Text Button
$fb-horizontal-padding: 32px;
$fb-vertical-padding: 16px;
$fb-border-radius: 100px;

// Font sizes
$title-font-size: 69px;
$section-title-font-size: 44px;
$section-subtitle-font-size: 23px;
$section-body-font-size: 18px;
$services-card-title-font-size: 28px;
$services-card-body-font-size: 18px;
$travel-card-title-font-size: 28px;
$travel-card-body-font-size: 18px;
$features-card-title-font-size: 23px;
$features-card-body-font-size: 18px;
$testimonial-card-title-font-size: 28px;
$testimonial-card-body-font-size: 23px;
$newsletter-card-title-font-size: 55px;
$newsletter-card-subtitle-font-size: 18px;

// Button font sizes
$lg-btn-font-size: 23px;
$md-btn-font-size: 14px;

// line heights
$circularstd-line-height: 120%;
$inter-line-height: 160%;
