@use '../abstracts/mixins' as mixins;
@use '../abstracts/variables' as *;

.container {
    background-color: hsl(60, 100%, 70%);
    height: 100vh;
    margin-inline: auto;
    max-width: $small-screen-min-width;

    @include mixins.media-up($small-screen-size) {
        background-color: hsl(240, 100%, 70%);
        margin-inline: 64px;
        max-width: $medium-screen-min-width;
    }

    @include mixins.media-up($medium-screen-size) {
        background-color: hsl(120, 100%, 70%);
        margin-inline: 120px;
        max-width: $large-screen-min-width;
    }
}
