@use 'sass:map';
@use '../abstracts' as *;

/**
 * All the values are in px and are converted to rem using px-to-rem()
 */

// Default styling for small screen sizes

/**
 * Font Size Utilities
 */

// Maps for font sizes at different resolutions
$title-page: (
    'small': 40,
    'medium': 56,
    'large': 69,
);

$title-section: (
    'small': 32,
    'medium': 40,
    'large': 44,
);

$title-card-services: (
    'small': 24,
    'medium': 28,
    'large': 28,
);

$title-card-travel-point: (
    'small': 35,
    'medium': 35,
    'large': 35,
);

$title-card-features: (
    'small': 23,
    'medium': 23,
    'large': 23,
);

$title-card-testimonial: (
    'small': 28,
    'medium': 28,
    'large': 28,
);

$title-footer: (
    'small': 24,
    'medium': 24,
    'large': 24,
);

$title-footer-nav: (
    'small': 23,
    'medium': 23,
    'large': 23,
);

$subtitle-section: (
    'small': 16,
    'medium': 23,
    'large': 23,
);

$subtitle-card-testimonial: (
    'small': 23,
    'medium': 23,
    'large': 23,
);

$body-section: (
    'small': 16,
    'medium': 18,
    'large': 18,
);

$body-card-services: (
    'small': 18,
    'medium': 18,
    'large': 18,
);

$body-card-travel-point: (
    'small': 18,
    'medium': 18,
    'large': 18,
);

$body-card-features: (
    'small': 18,
    'medium': 18,
    'large': 18,
);

$body-card-testimonial: (
    'small': 18,
    'medium': 23,
    'large': 23,
);

$button-text: (
    'small': 14,
    'medium': 14,
    'large': 14,
);

$button-text-lg: (
    'small': 16,
    'medium': 23,
    'large': 23,
);

$decorative-btn: (
    'small': 8,
    'medium': 14,
    'large': 14,
);

// Font Size
.title {
    &__page {
        font-size: px-to-rem(map.get($map: $title-page, $key: 'small'));
    }

    &__section {
        font-size: px-to-rem(map.get($map: $title-section, $key: 'small'));
    }

    &__card {
        &--services {
            font-size: px-to-rem(
                map.get($map: $title-card-services, $key: 'small')
            );
        }

        &--travelpoint {
            font-size: px-to-rem(
                map.get($map: $title-card-travel-point, $key: 'small')
            );
        }

        &--features {
            font-size: px-to-rem(
                map.get($map: $title-card-features, $key: 'small')
            );
        }

        &--testimonial {
            font-size: px-to-rem(
                map.get($map: $title-card-testimonial, $key: 'small')
            );
        }
    }

    &__footer {
        font-size: map.get($map: $title-footer, $key: 'small');
    }

    &__footer-nav {
        font-size: map.get($map: $title-footer-nav, $key: 'small');
    }
}

.subtitle {
    &__section {
        font-size: px-to-rem(map.get($map: $subtitle-section, $key: 'small'));
    }

    &__card {
        &--testimonial {
            font-size: px-to-rem(
                map.get($map: $subtitle-card-testimonial, $key: 'small')
            );
        }
    }
}

.body {
    &__section {
        font-size: px-to-rem(map.get($map: $body-section, $key: 'small'));
    }

    &__card {
        &--services {
            font-size: px-to-rem(
                map.get($map: $body-card-services, $key: 'small')
            );
        }

        &--travelpoint {
            font-size: px-to-rem(
                map.get($map: $body-card-travel-point, $key: 'small')
            );
        }

        &--features {
            font-size: px-to-rem(
                map.get($map: $body-card-features, $key: 'small')
            );
        }

        &--testimonials {
            font-size: px-to-rem(
                map.get($map: $body-card-testimonial, $key: 'small')
            );
        }
    }
}

.btn-text {
    font-size: px-to-rem(map.get($map: $button-text, $key: 'small'));

    &__large {
        font-size: px-to-rem(map.get($map: $button-text-lg, $key: 'small'));
    }
}

.decorative-btn-text {
    font-size: px-to-rem(map.get($map: $decorative-btn, $key: 'small'));
}

/**
 * Utilities for font weight, font family, line height letter spacing and text align
 */

// Utility Variables
$font-family: (
    'circular-std': 'circularstd',
    'inter': 'inter',
);
$font-weight: ('400', '500', '700', '900');
$line-height: (
    '120': '1.20',
    '160': '1.60',
); // These values are in percentage.
$letter-spacing: (
    '20': '0.20',
); // These values are in percentage.

// Font Family
@each $family, $value in $font-family {
    .ff-#{$family} {
        font-family: #{$value};
    }
}

// Font Weight
@each $weight in $font-weight {
    .fw-#{$weight} {
        font-weight: #{$weight};
    }
}

// Line Height
@each $attribute, $height in $line-height {
    .lh-#{$attribute} {
        line-height: #{$height};
    }
}

// Letter Spacing
@each $attribute, $spacing in $letter-spacing {
    .ls-#{$attribute} {
        letter-spacing: #{$spacing}rem;
    }
}

// Styling for medium screen sizes
@include media-up(map.get($map: $screen-size, $key: 'medium')) {
    .title {
        &__page {
            font-size: px-to-rem(map.get($map: $title-page, $key: 'medium'));
        }

        &__section {
            font-size: px-to-rem(map.get($map: $title-section, $key: 'medium'));
        }

        &__card {
            &--services {
                font-size: px-to-rem(
                    map.get($map: $title-card-services, $key: 'medium')
                );
            }

            &--travelpoint {
                font-size: px-to-rem(
                    map.get($map: $title-card-travel-point, $key: 'medium')
                );
            }

            &--features {
                font-size: px-to-rem(
                    map.get($map: $title-card-features, $key: 'medium')
                );
            }

            &--testimonial {
                font-size: px-to-rem(
                    map.get($map: $title-card-testimonial, $key: 'medium')
                );
            }
        }

        &__footer {
            font-size: map.get($map: $title-footer, $key: 'medium');
        }

        &__footer-nav {
            font-size: map.get($map: $title-footer-nav, $key: 'medium');
        }
    }

    .subtitle {
        &__section {
            font-size: px-to-rem(
                map.get($map: $subtitle-section, $key: 'medium')
            );
        }

        &__card {
            &--testimonial {
                font-size: px-to-rem(
                    map.get($map: $subtitle-card-testimonial, $key: 'medium')
                );
            }
        }
    }

    .body {
        &__section {
            font-size: px-to-rem(map.get($map: $body-section, $key: 'medium'));
        }

        &__card {
            &--services {
                font-size: px-to-rem(
                    map.get($map: $body-card-services, $key: 'medium')
                );
            }

            &--travelpoint {
                font-size: px-to-rem(
                    map.get($map: $body-card-travel-point, $key: 'medium')
                );
            }

            &--features {
                font-size: px-to-rem(
                    map.get($map: $body-card-features, $key: 'medium')
                );
            }

            &--testimonial {
                font-size: px-to-rem(
                    map.get($map: $body-card-testimonial, $key: 'medium')
                );
            }
        }
    }

    .btn-text {
        font-size: px-to-rem(map.get($map: $button-text, $key: 'medium'));

        &__large {
            font-size: px-to-rem(
                map.get($map: $button-text-lg, $key: 'medium')
            );
        }
    }

    .decorative-btn-text {
        font-size: px-to-rem(map.get($map: $decorative-btn, $key: 'medium'));
    }
}

// Styling for large screen sizes
@include media-up(map.get($map: $screen-size, $key: 'large')) {
    .title {
        &__page {
            font-size: px-to-rem(map.get($map: $title-page, $key: 'large'));
        }

        &__section {
            font-size: px-to-rem(map.get($map: $title-section, $key: 'large'));
        }

        &__card {
            &--services {
                font-size: px-to-rem(
                    map.get($map: $title-card-services, $key: 'large')
                );
            }

            &--travelpoint {
                font-size: px-to-rem(
                    map.get($map: $title-card-travel-point, $key: 'large')
                );
            }

            &--features {
                font-size: px-to-rem(
                    map.get($map: $title-card-features, $key: 'large')
                );
            }

            &--testimonial {
                font-size: px-to-rem(
                    map.get($map: $title-card-testimonial, $key: 'large')
                );
            }
        }

        &__footer {
            font-size: map.get($map: $title-footer, $key: 'large');
        }

        &__footer-nav {
            font-size: map.get($map: $title-footer-nav, $key: 'large');
        }
    }

    .subtitle {
        &__section {
            font-size: px-to-rem(
                map.get($map: $subtitle-section, $key: 'large')
            );
        }

        &__card {
            &--testimonial {
                font-size: px-to-rem(
                    map.get($map: $subtitle-card-testimonial, $key: 'large')
                );
            }
        }
    }

    .body {
        &__section {
            font-size: px-to-rem(map.get($map: $body-section, $key: 'large'));
        }

        &__card {
            &--services {
                font-size: px-to-rem(
                    map.get($map: $body-card-services, $key: 'large')
                );
            }

            &--travelpoint {
                font-size: px-to-rem(
                    map.get($map: $body-card-travel-point, $key: 'large')
                );
            }

            &--features {
                font-size: px-to-rem(
                    map.get($map: $body-card-features, $key: 'large')
                );
            }

            &--testimonial {
                font-size: px-to-rem(
                    map.get($map: $body-card-testimonial, $key: 'large')
                );
            }
        }
    }

    .btn-text {
        font-size: px-to-rem(map.get($map: $button-text, $key: 'large'));

        &__large {
            font-size: px-to-rem(map.get($map: $button-text-lg, $key: 'large'));
        }
    }

    .decorative-btn-text {
        font-size: px-to-rem(map.get($map: $decorative-btn, $key: 'large'));
    }
}
